body {
  color: white;
  margin: 0;
  background-color: rgb(38, 13, 61);
}
/* first background image */

#hero-bg {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Header css */

#nav-left a h1 {
  position: absolute;
  top: 4%;
  font-family: "Times New Roman", Times, serif;
  color: white;
  left: 13%;
}

#nav-right nav ul {
  position: absolute;
  top: 3%;
  list-style: none;
  display: flex;
  right: 13%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#nav-right nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
#nav-right nav ul li {
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;

  text-decoration: none;
  background-color: #ef5328;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;

  transition: background-color 0.3s;
}

a.button:hover {
  background-color: #45a049;
}

/* Home css */

#home-left {
  position: absolute;
  top: 25%;
  left: 11%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

#home-left h2 {
  margin: 30px;
}
#home-left h1 {
  margin: 30px;
}

#home-left h3 {
  margin: 30px;
}
#home-left p {
  margin: 30px;
}

#home-left div {
  margin: 30px;
}

#ho {
  top: 30%;
  position: absolute;
  right: 5%;
  height: 350px;
  border-radius: 50%;
}

#about-right {
  display: block;
  top: 120%;
  position: absolute;
  right: 4%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#about-right h2 {
  color: #ef5328;
  margin-top: 100px;
}
#about-right h1 {
  margin-top: 20px;
}

#about-right p {
  margin-top: 20px;
}

#center-portfolio {
  position: absolute;
  text-align: center;
  top: 220%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#center-portfolio h2 {
  color: #ef5328;
}
#center-portfolio h1 {
}
#center-portfolio h1 {
}
#center-portfolio p {
}
#discord img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
}
/* #discord h2{
position: absolute;
left: 50%;
top:%;
} */

#center-skills {
  position: absolute;
  text-align: center;
  left: 23%;
  top: 350%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#center-skills h2 {
  color: #ef5328;
}

#footer {
  position: absolute;
  background-color: rgb(71, 49, 122);
  width: 100%;
  top: 450%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#footer {
}
.image {
  opacity: 1;
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/*  */
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  padding: 16px 32px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.header a {
  color: white; /* Adjust text color to white */
}

#bar img{
  position: absolute;
  right: 1%;
  width: 100%;
}
