body {
  color: white;
  margin: 0;
  background-color: rgb(38, 13, 61);
}

#hero-bg {
  position: relative;
  margin: 0;
  width: 100%;
}

.left {
  left: 12%;
  position: absolute;
  
}

#nav-left a h1 {
  position: absolute;
  top: 3%;
  font-family: "Times New Roman", Times, serif;
  color: white;
  /* left: 12%; */
}

#nav-right nav ul {
  position: absolute;
  top: 3%;

  list-style: none;
}

#nav-right nav ul {
  display: flex;
  right: 13%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

#nav-right nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;

  padding: 10px;
}
#nav-right nav ul li {
  padding: 10px;
}

/* Style for the anchor tag to make it look like a button */
.button {
  display: inline-block;
  padding: 10px 20px;

  text-decoration: none;
  background-color: #ef5328;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;

  transition: background-color 0.3s;
}

/* Change button color on hover */
a.button:hover {
  background-color: #45a049;
}

/* Home css */

.center{
  text-align: center;
}



#home-left {
  position: absolute;
  top: 25%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}


#home-left h2{
  margin: 30px;
} 
#home-left h1{
  margin: 30px;
} 

#home-left h3{
  margin: 30px;
} 
#home-left p{
  margin: 30px;
} 

#home-left div{
  margin: 30px;
} 